<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <Models>
        <!-- Only / is to use as path separator --> 
        <Model File="C:/MyTools/llama/LocalKiModels/DeepSeek-R1-Distill-Qwen-1.5B.Q5_K_M.gguf" />
        <Model File="C:/MyTools/llama/LocalKiModels/Mistral-7B-Instruct-v0.3-Q5_K_M.gguf" />
        <Model File="C:/MyTools/llama/LocalKiModels/Qwen2.5-14B-Instruct-Q4_K_M.gguf" />
    </Models>
</Settings>
